.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  width: 20%;
  height: 60%;
  border-color: black;
}

.qr {
  width: 90%;
  height: auto;
  padding: 25px;
  border-radius: 25px;
}

.heading {
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
